PORT=4000
EBAY_CLIENT_ID=
EBAY_CLIENT_SECRET=
EBAY_REDIRECT_URI=http://localhost:4000/api/auth/ebay/callback
EBAY_SCOPES=https://api.ebay.com/oauth/api_scope/sell.inventory.readwrite
EBAY_ENV=sandbox
